/* for pdfs */
body{
	background-color:#47433b;
}
#deluxe-ticket .outside{
	margin:0 auto;
    padding: 0;

}
.print_button_div input {
	float: left;
}
#deluxe-ticket .instructions{
    background:url(../img/printreminder_teal.png) no-repeat transparent;
    color:#FFF;
    margin-bottom:0.5em;
    width: 700px;
    padding: 10px;
	font-family:Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: normal;
	border: none;
	clear: both;
}
.topbar{
	background-color:#63abaf;
    width: 700px;
	height:4px;
	padding-top:5px;
}
#deluxe-ticket .ticket{
	padding: 0;
	background: url('../img/deluxe-bg.jpg') no-repeat #FFF;
    width: 700px;
    height: 450px;
    text-align: left;
    border: none;
    border-spacing: 0;
}
.top_event_title{
    font-size: 2em;
    font-weight:bold;
    margin:0;
    padding:0;
}
.logo img {
    margin:0 0 0 15px;
}
.infotext.reg-id {
	font-size: 0.7em;
}
.qr_code img{
	width:135px;
	height:135px;
	border:1px solid #63abaf;
}
.price{
    font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}
#deluxe-ticket .extra_info{
    width: 700px;
    padding: 10px;
    text-align: justify;
	background-color:#FFF;
	position:relative;
}
.divider{
    border-bottom:dashed #333 1px;
    width:700px;
    height:1px;
    margin:10px 0;
}
.footer{
    font-size:11px;
}

.topinfo{
	padding:0 15px;
	height: 150px;

}
.name{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:47px;
	color:#47433b;
	padding-bottom:5px;
}

.title{
	color:#63abaf;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.title2{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

.infotext{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.gravatar{
	width:200px;
	padding-bottom: 20px;
}
.attendee {
	margin-top: 10px;
}
.map img{
	height:168px;
}
.footer { margin-top: 5px; }
.footer, .footer a {
	color: #f2f0eb;
	font-family: Helvetica, Arial, sans-serif;
}

/* for screens */
@media screen and ( min-width: 800px ) {
	.topbar, #deluxe-ticket .ticket {
		width: 800px;
	}
	#deluxe-ticket .extra_info {
		width: 800px;
	}
}